html,body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    height:100%;
}

.main-links {
    background-color: #1A1A1A;
    display: flex;
    gap: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

ul a {
    color: white;
    text-decoration: none;
    height:100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    flex: 1;
}

.main-links ul {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 ;
    padding: 0;
    height: 100%;
    width: 50%;
    list-style: none;
}

.main-links ul li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.main-links ul a:hover {
    background-color: white;
    color: #1A1A1A;
    box-sizing: border-box;
    transition: 0.3s;
}

.main-links ul a.active {
    background-color: white;
    color: #1A1A1A;
}

.main-links ul li a {
    padding: 25px 0px;
}

footer {
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.secondary-links {
    background-color: #1A1A1A;
}

.secondary-links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 75%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #1A1A1A;
    color: white;
    gap: 10px;
    width: 25%;
    min-height: 100dvh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.left table {
    width: 100%;
    border-collapse: collapse;
}