<!DOCTYPE html> <!--Template design for all pages on website-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dream Pizzas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav class="main-links">
            <ul>
                <li><a href="{{ url_for('index') }}"
                    class="{{ 'active' if active_page == 'index' else '' }}">
                    Home</a></li>
                <li><a href="{{ url_for('about') }}"
                    class="{{ 'active' if active_page == 'about' else '' }}">
                    About</a></li>
                <li><a href="{{ url_for('menu') }}"
                    class="{{ 'active' if active_page == 'menu' else '' }}">
                    Menu</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <nav class="secondary-links">
            <ul>
                <li><a href="{{ url_for('order_history') }}">Order History</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('help') }}">Help</a></li>
            </ul>
        </nav>
         <p>&copy; 2026  Dream Pizzas. All rights reserved.</p>
    </footer>
</html>